.cpm {
width: 100%;
 margin-left: 0.5%;
 margin-right: 0.5%;
 margin-top: 0.5%;
 margin-bottom: 0.5%;
 

}



/* From Uiverse.io by vinodjangid07 */ 
.button {
  width: 110px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  background-color: rgb(161, 255, 20);
  border-radius: 30px;
  color: rgb(19, 19, 19);
  font-weight: 600;
  border: none;
  position: relative;
  cursor: pointer;
  transition-duration: .2s;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
  padding-left: 8px;
  transition-duration: .5s;
  margin-top: -6%;
  
  
}


 


.svgIcon {
  height: 25px;
  transition-duration: 1.5s;
  
}

.bell path {
  fill: rgb(19, 19, 19);
  
}

.button:hover {
  background-color: rgb(192, 255, 20);
  transition-duration: .5s;
  
}

.button:active {
  transform: scale(0.97);
  transition-duration: .2s;
  
}

.button:hover .svgIcon {
  transform: rotate(250deg);
  transition-duration: 1.5s;
  
}


nav ul {  
    list-style-type: none;  
    padding: 0;  
}  

nav ul li {  
    display: inline;  
    margin: 0 15px;  
}  

nav ul li a {  
    color: rgb(12, 12, 12);  
    text-decoration: none;  
}  




.cp {
    margin-left:-2%;
    margin-right: 1%;
    margin-bottom: 1%;
    padding: 1%;
    
    border-radius: 9px;
}

.cw {
    margin-left: 20%;
    margin-top: -3%;
    margin-bottom: 1%;
 
}
.ctw {
    

    text-align: center;
   
}
.cttw {
    margin-top: -1%;
    max-width: 15%;
    background-color: rgb(129, 123, 129);
    opacity: 0.8;
    border-radius: 10%;
    margin-left: 38.5%;
    margin-right: 20%;
}

.cttw2 {
    margin-top: -0.5%;
    max-width: 15%;
    background-color: rgb(129, 123, 129);
    opacity: 0.8;
    border-radius: 10%;
    margin-left: 38.5%;
    margin-right: 20%;
}
.cttw11 {
    margin-top: -20%;
    margin-bottom: 1%;
    max-width: 15%;
    background-color: rgb(129, 123, 129);
    opacity: 0.8;
    border-radius: 10%;
    margin-left: 55.5%;
    margin-right: 20%;
}
.cttw22 {
    margin-top: -12.8%;
    max-width: 15%;
    background-color: rgb(129, 123, 129);
    opacity: 0.8;
    border-radius: 10%;
    margin-left: 55.5%;
    margin-right: 20%;
}
.CVYF1 {
    
    text-align: left;
    max-width: 45%;
    
}
.CVYF2 {
    
    margin-left: 52%;
    margin-top: -28%;
    text-align: center;
    
}
.pfont {
    color:azure;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sfont {
    color:azure;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.img1 {
   
    max-height: 2%;
}

.cp2 {
    
    margin-left:1%;
    margin-right: 1%;
    margin-bottom: 1%;
    margin-top: 1%;
    padding: 1%;
    background-color: rgb(139, 126, 153);
    border-radius: 9px;
}
.cp3 {
    margin-left:1%;
    margin-right: 1%;
    margin-bottom: 1%;
    margin-top: 1%;
    padding: 1%;
    background-color: rgb(139, 126, 153);
    border-radius: 9px;
}

.tj {
 text-align: center;

   
}

.CF {
    background-color: rgb(27, 27, 27);
    padding: 0.01%;
    

}
.br1 {
    border-radius: 20px;
}

.resolucion {
    width: 99%;
    text-align: center;
}

@media (max-width:767px) {
    .desktop
    {
        display:inline-block;
    }
    .tablet{
        display:inline-block;
    }
    
}

@media (min-width:768px) and (max-width:990px) {
    .desktop{
        display:inline-block;
    }
    
    .movil{
        display:inline-block;
    }
}

@media (min-width:991px) {
   
    .tablet{
        display:inline-block;
    }
    .movil{
        display:inline-block;
    }
}
    
.audio-player {
    padding: 1%;
    background-color: #4b4949;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgb(253, 253, 253);
    
  }
  
  .audio-player h3 {
    color: #f7f2f2;
    font-size: 18px;
    margin-bottom: 10px;
    
  }
  
  .audio-player audio {
    width: 100%;
  }
